<!DOCTYPE html>
<html lang="pt" >
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}ß
    {% bootstrap_messages %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.4-beta.45/jquery.dataTables.yadcf.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.1/datatables.min.css">
    <script src="https://cdn.datatables.net/v/bs4/dt-1.11.1/datatables.min.js"></script>
</head>

<body class="border border-5 border-warning">
    {% block Menu %}
    {% endblock %}
    <div class="container-fluid" style="margin-top:55px; margin-bottom:55px">
        {% block content %}
        {% endblock %}
    </div>
    <nav class="navbar navbar-expand-sm bg-primary text-white fixed-bottom border border-5 border-warning border border-top-0">
        <div class="container-fluid">
            {% block Rodape %}
            {% endblock %}
        </div>
    </nav>
</body>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.4-beta.45/jquery.dataTables.yadcf.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

</html>

{################################################################}
{% block scripts %}
{% endblock scripts %}
{################################################################}
