{% extends "base.html" %}

{% block title %}
    <h1>Página Index usando filtro</h1>
{% endblock %}

{# BLOCO DE CONTEUDO #}

{% block content %}
    <head>
        <link href="DataTables/datatables.min.css" rel="stylesheet"/>
        <script src="DataTables/datatables.min.js"></script>
    </head>

{# FILTRO + LISTA #}

    <div class="row" data-width="100%" >

{# FILTRO #}

        <div class="mh-auto bg-primary text-white p-2 " style="width:250px">
            <form method="get">
                {{ filter.form.as_p }}
                <input type="submit" class="btn btn-secondary"/>
            </form>
        </div>

{# LSITA #}

        <div class="col-sm-9 p-3">
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th> Nome </th> <th> preço </th> <th> status</th> <th> link </th>
                </tr>
                </thead>
                <tbody>
                    {% for obj in filter.qs %}
                        <tr> <td> {{ obj.name }} </td> <td>  ${{ obj.price }}</td> <td>status </td> <td> <a href="url">link</a> </td> </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

{# FIM DA LISTA  #}

    </div>

{# FIM FILTRO + LISTA #}

{% endblock content %}